.container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.words {
  margin: auto;
  display: flex;
  justify-content: center;
}

.letters {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
}

.green {
  color: rgb(0, 211, 0);
}

.red {
  color: red;
}

.underline {
  border-bottom: black 3px solid;
}

.underline-red {
  border-bottom: red 3px solid;
}
