.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  padding: 2px;
}

.column-full {
  width: 100%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-two-third {
  width: calc(200% / 3);
}

.column-one-fourth {
  width: 25%;
}

img {
  width: 100%;
}
